<div class="col-md-12">
  <h1>{{displayName}}</h1>
  <h3>
    {{cityState}}
    {{#link-to "country" country}}
      {{country.title}}
    {{/link-to}}
  </h3>
  {{#if isEditing}}
    {{partial "brewery/form"}}
  {{else}}
    {{partial "brewery/show"}}
  {{/if}}
</div>
